@import url("https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Orbitron:wght@500;600;700;800;900&family=Questrial&family=Sofia+Sans:wght@1;100;200;300;400;500;600;700;800;900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Anybody", sans-serif;
}

body,
html {
  height: 100%;
  width: 100%;
}

::selection {
  /* color: lightcoral; */ 
  background-color: #f9d9d9;
}

/* CUstom ScrollBar */
*::-webkit-scrollbar {
  width: 8px; /* You can adjust the width as needed */
}

*::-webkit-scrollbar-track {
  background-color: #ccc;
}

*::-webkit-scrollbar-thumb {
  background-color: #808080;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #f08080;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #f08080;
}

/* Main starts here */

.main {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  height: 88px;
  width: 100%;
  padding: 0 3vw;
  background-color: transparent;
  border-bottom: 0.2px solid #dadada;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

nav img {
  height: 5vmax;
  cursor: pointer;
}

#nav-left {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.4em;
  font-size: 15px;
  text-transform: uppercase;
  text-overflow: ellipsis;
}

/* Nav Links Style Start */
#nav-left i,
#nav-left a {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px;
  color: #263238;
  background: transparent;
  border: 0;
  padding: var(--size-4) var(--size-8);
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#nav-left i:hover, 
#nav-left a:hover {
  color: lightcoral;
  filter: drop-shadow(5px 3px 10px #fff);
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

#nav-left i:active,
#nav-left a:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

#nav-left #hamburger-icon {
  position: fixed;
  z-index: 2;
  font-size: 1.5vw;
  filter: drop-shadow(5px 3px 10px #fff);
  display: none;
  
}


/* Nav Link Style Ends */

/* MEDIA QUERies for NAV*/
/* 800 & Less */

@media (width <= 800px) {
  #nav-left {
    gap: 12px;
  }

  #nav-left a {
    font-size: 16px;
  }
}

/* 600 & Less */

@media (width <= 600px) {
  nav {
    color: #263238;
  }

  nav h2 {
    font-size: 3vmax;
  }

  #nav-left a {
    display: none;
  }

  #nav-left #hamburger-icon {
    display: block;
    font-size: 7vw;
  }
}

/* SideBar Css */

#sidebar{
  width: 340px;  /* I've set width through JS to 340px*/
  height: 100%;
  display: none; /* I've set display to flex*/
  justify-content: center;
  align-items: center;
  padding: 10px;
 
  position: fixed;
  right: 0;
  top: 0;
  background-image: linear-gradient(#f08080de, #ff6b6b, #e87373de);
  box-shadow: 0 0 6px ;
  transition: all .4s ease-in-out;
  z-index: 1;
  
  
}

#sidebar-content {
  width: 100%;
  height: 100%;
  padding: 5%;
}

#sidebar-links{
  width: 100%;
  height: 100%;
  display: flex;  
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}

#sidebar-links a{
  font-size: 35px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

#sidebar-socials{
  transform: translate(0, -50%);
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 6vmax;
}


/* Container Starts Here */

#content {
  display: flex;
  /* height: calc(100% - 88px); */
  width: 100%;
  height: 71%;
}

#left {
  /* height: 100%; */
  width: 55%;
  padding: 7vw 4vw 0 4vw;
}

#left h1,
#left h1 span {
  font-size: 4.6vw;
  font-family: "Orbitron", sans-serif;
  text-transform: uppercase;
  line-height: 5vw;
}

#left span {
  color: lightcoral;
}

#left h1 {
  color: #263238;
  margin: 0 0 30px 0;
}

#left p {
  color: #263238;
  width: 88%;
  font-size: 16px;
  font-weight: 500;
  margin: 1.4vw 0 2vw 0;
}

/* Button Start */

#left button {
  cursor: pointer;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: lightcoral;
  border: 0;
  padding: 20px 40px;
  transform: translateY(calc(var(--y, 0) * 1%)) scale(var(--scale));
  transition: all 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#sidebar-links a:hover,
#left button:hover {
  color: #263238;
  filter: drop-shadow(5px 3px 10px #fff);
  --y: -10;
  --scale: 1.1;
  --border-scale: 1;
}

#left button:active {
  --y: 5%;
  --scale: 0.9;
  --border-scale: 0.9, 0.8;
}

/* #left button End */

#right {
  /* height: 100%; */
  width: 45%;
}

#right img {
  padding: 15px;
  width: 100%;
  object-fit: contain;
}

/* Media Query for Content */

@media (width <= 800px) {
  #left {
    width: 60%;
  }

  #right {
    width: 40%;
  }

  #left p {
    font-size: 2vw;
  }
}

@media (width <= 610px) {
  #content {
    height: 90%;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
  }

  #left {
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 0 2.5vw 0 2.5vw;
    margin: 14px;
    width: 100%;
    height: 50%;
    margin: 0;
  }

  #left h1,
  #left h1 span {
    font-size: 10vw;
    line-height: 11vw;
  }

  #left p {
    font-size: 4vw;
    width: 90%;
    margin-bottom: 30px;
  }
  #left button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12px;
    text-align: center;
    font-size: 13px;
    padding: 21px 30px;
  }

  #right {
    display: none;
  }
}

/* SECTION-2 Starts Here */

#section-2 {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 75vh;
  background-image: linear-gradient(
    to bottom,
    #fff,
    #ececec,
    #ececec,
    #ececec,
    #ececec,
    #efefef,
    #ececec,
    #fff
  );
  /* border-top: 10px solid #263238c2;
  border-bottom: 10px solid #263238c2; */
}

#section-2-left {
  color: #263238;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 5%;
  gap: 20px;
}

#section-2-left h2,
#section-2-left span {
  font-family: Orbitron, sans-serif;
  text-transform: uppercase;
  font-size: 5vw;
}

#section-2-left span {
  color: lightcoral;
  text-decoration: wavy underline 0.2vw #26323850;
}

#section-2-left p {
  font-size: 20px;
  width: 90%;
}

#section-2-right {
  padding: 5%;
  position: relative;
  width: 50%;
  height: 100%;
}

#section-2-img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  /* outline: #2632385d 20px solid; */
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  height: 70%;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.301),
    0 6px 20px 0 rgba(243, 243, 243, 0.288);
  background: url("./section_2_graphic.gif") no-repeat center;
  background-size: contain;
  transition: cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.2s;
  visibility: hidden;
}

#section-2-img:hover {
  filter: drop-shadow(10, 23px 20px black);
}

@media (width <= 600px) {
  #section-2 {
    flex-direction: column;
  }

  #section-2-left {
    align-items: center;
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 1%;
  }

  #section-2-left h2,
  #section-2-left span {
    margin-top: 5%;
    padding-top: 10px;
    font-size: 6vmin;
  }

  #section-2-left p {
    font-size: 4vmin;
  }

  #section-2-right {
    padding: 10px;
    height: 70%;
    width: 100%;
  }
}








/* Dashboard's Css is Here */

#dashboard-content{
  
  width: 100%;
  height: 100%;
  display: flex;
  align-items: baseline;
  justify-items: center;
  padding: 2%;

}

#profile-section{
  
  width: 100%;
  height: 54%;
  background-color: #263238;
  border-radius: 23px;
}

#profile-image{
  position: relative;
  width: clamp(85px, 17vh, 200px);
  height: clamp(85px, 17vh, 200px);
  border-radius: 50%;
  
}

#profile-section-top{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-left-radius: 23px ;
  border-top-right-radius: 23px;
  height: 40%;
  width: 100%;
  background-color: #f08080;
}

#profile-image img{
  top: 50%;
  position: absolute;
  height: 100%;
  width: 100%;
  border: 5px solid #fff;
  border-radius: 50%;
  outline: #f08080 5px solid;
}

#profile-section-bottom{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 60%;
  text-align: center;
  color: #ccc;
  
}

#profile-section-bottom button{
  
  padding: 15px;
  font-size: 15px;
  border: none;
  outline: none;
  border-radius: 23px;
  background-color: #f08080;
  position: absolute;
  top: 55%;
}

#profile-section-bottom button a{
  color: #fff;
  font-size: 15px;
  text-decoration: none;
}


/* No Media Query for Dashboard CSS */

